<div class="logo">
  <img
    src="/src/public/images/noun_Tent_2517.svg"
    alt="tent image for logo"
  />
  <a href="/src/public/index.html">
    Sleep<span class="highlight">Outside</span>
  </a>
</div>

<div class="cart">
  <a href="/src/public/partials/index.html" aria-label="View shopping cart">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
      <path
        d="M18.9 32.6c1.1 2.4 2.6 5.7 4.1 9.1l11.5 24.9h41.2l12.7-34H33.6"
        fill="none"
        stroke="currentColor"
        stroke-width="6"
      />
    </svg>
  </a>
</div>
